<div class="custom-announcement" style="background-color: {{ section.settings.bg_color }};">
  <p>{{ section.settings.announcement_text }}</p>
</div>


{% schema %}
  {
    "name": "Custom Announcement",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement Text",
        "default": "Free shipping on orders over £75"
      }, {
        "type": "url",
        "id": "announcement_link",
        "label": "Announcement Link",
        "default": "/collections/all"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#000000"
      }
    ],
    "presets": [
      {
        "name": "Custom Announcement",
        "settings": {}
      }
    ]
  }
{% endschema %}