<p>{{ section.settings.announcement_text }}</p>


{% schema %}
  {
    "name": "Custom Announcement",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "announcement_text",
            "label": "Announcement Text",
            "default": "Welcome to our store!"
        },
        {
            "type": "url",
            "id": "announcement_link",
            "label": "Announcement Link",
            "default": "/collections/all"
        }
    ],
    "presets": [
      {
        "name": "Custom Announcement",
        "settings": {}
      }
    ]
  }
{% endschema %}