<h1>This is custom announcement section</h1>


{% schema %}
  {
    "name": "Custom Announcement",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Custom Announcement",
        "settings": {}
      }
    ]
  }
{% endschema %}